/*--------------------------------------------------------------
# logo-nav
--------------------------------------------------------------*/
.logo-nav{
  padding-top: 20px;
  .navbrand{
    display: inline-block;
    text-decoration: none;
    img{
      height: 30px;
    }
  }
}

/*--------------------------------------------------------------
# side-nav
--------------------------------------------------------------*/

.side-nav{
  position: fixed;
  right: 3%;
  bottom: 10%;
  @media only screen and (max-width: 767px) {
   right: 2%;
   border-bottom: 4%;
  }
  @media only screen and (max-width: 767px) {
   display: none;
  }
  .social-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;
    margin-top: 30px;
    li{
      display: inline-block;
      &:not(:last-child) {
      margin-right: 4px;
      }
      a{
        text-decoration: none;
        display: inline-block;
        color: var(--primary-color);
        font-size: 18px;
        transition: all .2s ease-in;
        &:hover{
          opacity: .6;
        }
      }
    }
  }
}
.nav-custom{
  text-align: end;
  .main-bav{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      &:not(:last-child) {
      margin-bottom: 5px;
      }
      a{
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .4px;
        color: var(--primary-color);
      }
    }
  }

}
